.menuNav.opened {
  transform: translateX(0%);
  transition: transform 350ms ease-in;
}
.menuNav {
  display: flex;
  justify-content: center;
  position: fixed;
  transform: translateX(100%);
  background-color: slategray;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 350ms ease-in;
}

@media screen and (min-width: 1280px) {
  .menuNav {
    transform: translateX(0);
    left: 0;
    background: transparent;
    position: static;
    
  }

}